@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic);

body {
  display: block;
  margin-left: 0;
  margin-top: 0;
}

/* ABOUT STYLES */

#about div.row h3 {
  color: #FFFFFF;
}
#about {
  background-color: #EF6A56;
  height: auto;
  padding-top: 30px;
}
.profil-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 80px;
}
.intro {
  margin-top: 60px;
  color: #FFFFFF;
  font-size: 13pt;
  line-height: 25px;
  font-family: Roboto;
  font-weight: lighter;
}
a {
  color: #1D1A05;
}
a:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.title {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

/* PORTFOLIO STYLES */

* {
  margin: 0;
  padding: 0;
}
#portfolio {
  background-color: #FFFFFF;
  height: auto;
  padding-top: 30px;
}
#portfolio div.row h3 {
  color: #EF6A56;
}
.categories {
  margin: 5% 1.5%;
  z-index: 9990;
}
.categories button {
  border: 2px solid #EF6A56;
  z-index: 9990;
  border-radius: 3px;
  min-width: 80px;
  min-height: 37px;
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  color: #EF6A56;
  outline: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}
.categories button:hover {
  border: 2px solid #1D1A05;
  color: #1D1A05;
}
.categories button:focus {
  border: 2px solid #1D1A05;
  color: #1D1A05;
}
.both {
  clear: both;
}

/* CONTACT STYLES */

#contact {
  height: auto;
  background-color: #EF6A56;
}
.social-networks {
  margin: 30px;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 25pt;
}
.social-networks > ul {
  list-style-type: none;
}
.social-networks > ul > li > a, .location > a {
  color: #FFFFFF;
  text-decoration: none;
}
.location > a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input:focus, textarea:focus {
  border-color: #1D1A05;
  outline: none !important;
  box-shadow: 0 0 2px #1D1A05;
}
input.submit {
  background-color: #FFFFFF;
  color: #a3a1a1;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
form {
  margin: 30px;
}
#contact div.row h3 {
  color: #FFFFFF;
}

/* FOOTER STYLES */

#footer {
  height: 100px;
  background-color: #1D1A05;
  color: #FFFFFF;
}
.copyright {
  padding-top: 40px;
}

