@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic);

/* BANNER STYLES */

.banner {
  background-image: url('http://gratisography.com/pictures/277_1.jpg');
  background-size: cover !important;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-family: Roboto;
  font-weight: lighter;
  color: #1D1A05;
}
.banner p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: lighter;
  color: #1D1A05;
  margin-bottom: 20px;
}
.btn-medium {
  color: #CA3C25;
  border: 2px solid #CA3C25;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  text-decoration: none;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #CA3C25;
}
.text {
  text-align: center;
  margin-top: 300px;
  color: #CA3C25;
  font-size: 1.0em;
  font-family: Roboto;
  text-transform: uppercase;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}


